.contenedorNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    width: 100%;
    height: 50px;
    box-shadow: 0px 2px 5px black, 0px -2px 5px blue, 0px 0px 20px rgb(85, 129, 8), 0px 0px 10px #5f9e07;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: none;
    border-bottom: 3px solid #89e10d;  
}

.butonLandingPage {
    background-color: #dedbd2;
    border-radius: 10px;
    margin-right: auto;
    margin-left: 20px;
}

.butonLandingPage:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.searchContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.inputSearch {
    border-radius: 10px;
    margin-right: 10px;
    width: 150px;
    transition: width 0.3s ease-in-out;
}

.inputSearch:focus {
    width: 250px;
}

.butonSearch {
    background-color: #dedbd2;
    border-radius: 10px;
}

.butonSearch:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}


.butonNav{
    margin-left: 2rem;
    margin-right: 2rem;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: solid 3px rgba(82, 112, 7, 0.669);
    background-color: #eff6e0;
}